*~
\#*#
/addons/*.ini
/addons/Los_Altos
/bin/*.dll
/bin/*.exe
/bin/*.log
/bin/server-port.txt
/built
/logs
/Los_Altos
/Los_Altos.ini
/msgs/*.txt
/node_modules
/notes
/*.exe
/pack-it-forms
/README.html
/scco-pvt-forms
/sh.exe.stackdump
/signingCert.*
/webToPDF/*.exe
/webToPDF/Chromium*
/webToPDF/node_modules
