LINE
ADDON -fn TEST XSC ICS-213 Message             -a SCCoPIFO -t form-ics213.html
ADDON -fn TEST XSC EOC-213RR Resource Request  -a SCCoPIFO -t form-scco-eoc-213rr.html
ADDON -fn TEST XSC OA Municipal Status         -a SCCoPIFO -t form-oa-muni-status.html
ADDON -fn TEST XSC OA Shelter Status           -a SCCoPIFO -t form-oa-shelter-status.html
ADDON -fn TEST XSC RACES Mutual Aid Request    -a SCCoPIFO -t form-oa-mutual-aid-request.html
LINE
ADDON -fn TEST XSC HAvBed Report                 -a SCCoPIFO -t form-mhoc-beds-status.html
ADDON -fn TEST XSC Medical Resource Request      -a SCCoPIFO -t form-medical-resource-request.html
ADDON -fn TEST XSC Medical Facility Status       -a SCCoPIFO -t form-medical-facility-status.html
ADDON -fn TEST XSC Allied Health Facility Status -a SCCoPIFO -t form-allied-health-facility-status.html
