
ADDON -fn XSC ICS-213 Message             -a SCCoPIFO -t form-ics213.html
ADDON -fn XSC EOC-213RR Resource Request  -a SCCoPIFO -t form-scco-eoc-213rr-v2.html
ADDON -fn XSC OA Municipal Status         -a SCCoPIFO -t form-oa-muni-status.html
ADDON -fn XSC OA Shelter Status           -a SCCoPIFO -t form-oa-shelter-status.html
ADDON -fn XSC Allied Health Facility Status -a SCCoPIFO -t form-allied-health-facility-status.html
LINE
ADDON -fn XSC HAvBed Report                 -a SCCoPIFO -t form-mhoc-beds-status.html
ADDON -fn XSC Medical Facility Status       -a SCCoPIFO -t form-medical-facility-status-v2.html
ADDON -fn XSC Medical Resource Request      -a SCCoPIFO -t form-medical-resource-request.html
LINE
ADDON -fn XSC RACES Mutual Aid Request      -a SCCoPIFO -t form-oa-mutual-aid-request-v2.html
